body{
  background-color: aquamarine;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
}

.container p{
  font-size: 30px;
}

.select {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
}

.select strong {
  border: 1px solid black;
  padding: 25px 70px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;

}

.select h3 {
  display: flex;
  justify-content: center;
  color: red;
}